h1 {
    color: teal;
    text-align: center;
    text-decoration: yellow underline;
}

p {
    /* font-weight: bolder;
    text-decoration: line-through;
    line-height: 2;
    letter-spacing: 4; */
    font-size: 50px;
    font-family: Arial;
    text-decoration: ;
}